<div class="main-body">
  <h1 style="font: Inconsolata;">>_Yard Weather
    <br />
    <span style="font-size: small;">Quick weather fetch without any of the cookies/location saving</span>
  </h1>
  <br />
</div>
<br/>
<br/>
<div class="button-wrapper">
  <input type="text" placeholder="Enter a zip code (US only)" #testBox
    (keyup.enter)="getWeatherAPI(testBox.value, 'us')">
  <button id="test" (click)="getWeatherAPI(testBox.value,'us')">Submit</button>
</div>
<pre>
<div class="weather-body" *ngIf="testClick">
  <p style="text-align: center;">City: {{userLocation.name}}</p>
  <p>Current weather: {{userLocation.weather.main}} <img [src]="'http://openweathermap.org/img/wn/'+ userLocation.weather.icon + '@2x.png'" ALIGN=Bottom></p>
  <p>Current temperature: {{currentTemp}}°F   Current humidity: {{userLocation.main.humidity}}%</p>
  <p>Feels like: {{currentFeelsLike}}°F   Today's max: {{currentTempMax}}°F   Today's min: {{currentTempMin}}°F</p>
</div>
</pre>